---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
---

<BaseLayout
  title="Todd UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
  <section class="container grid items-center gap-6 pt-6 pb-8 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl leading-tight font-extrabold tracking-tighter md:text-4xl"
      >
        Todd UI Template <br class="hidden sm:inline" />
        built with Radix UI and Tailwind CSS.
      </h1>
      <p class="text-muted-foreground max-w-[700px] text-lg">
        Accessible and customizable components that you can copy and paste into
        your apps. Free. Open Source.
      </p>
    </div>
    <div class="flex gap-4">
      <a
        href="https://ui.shadcn.com"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants()}
      >
        Documentation
      </a>
      <a
        href="https://github.com/AREA44/astro-shadcn-ui-template"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants({ variant: 'outline' })}
      >
        GitHub
      </a>
    </div>
  </section>

  <section class="container py-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <img
        src="https://images.pexels.com/photos/320014/pexels-photo-320014.jpeg?auto=compress&cs=tinysrgb&w=400"
        alt="Orange cat"
        class="w-full h-64 object-cover rounded-lg shadow-md"
      />
      <img
        src="https://images.pexels.com/photos/1717267/pexels-photo-1717267.jpeg?auto=compress&cs=tinysrgb&w=400"
        alt="White cat"
        class="w-full h-64 object-cover rounded-lg shadow-md"
      />
      <img
        src="https://images.pexels.com/photos/1404329/pexels-photo-1404329.jpeg?auto=compress&cs=tinysrgb&w=400"
        alt="Black cat"
        class="w-full h-64 object-cover rounded-lg shadow-md"
      />
    </div>
  </section>
</BaseLayout>
